{% extends 'base.html' %}
{% block title %}
    Documentation
{% endblock %}

{% block Malumot %}
    <body style="background-image: url(https://avatars.mds.yandex.net/i?id=a8e084d18e68108e1b644bb301cb93afd5e3c639-4729621-images-thumbs&n=13); background-size: cover;">
        <h1 style="color: rgb(150, 0, 230);">PYTHON LIBRARIES</h1>
        <p style="color: rgb(2, 0, 148);">Python has a large number of powerful libraries that make it one of the most popular programming languages today. Libraries are collections of pre-written code that help developers perform specific tasks without writing everything from scratch.

            Here are some popular Python libraries:</p>
        <h2 style="color: rgb(188, 105, 233);">NumPy:</h2>
        <p style="color: rgb(42, 40, 168);">NumPy is used for numerical computing. It provides support for large, multi-dimensional arrays and matrices, along with a large collection of mathematical functions.</p>
        <h3 style="color: rgb(188, 105, 233);">Pandas:</h3>
        <p style="color: rgb(80, 77, 255);">Pandas is a data analysis library that makes it easy to work with structured data. It is widely used in data science and analytics for tasks like data cleaning, transformation, and visualization.</p>
        <h4 style="color: rgb(188, 105, 233);">Matplotlip:</h4>
        <p style="color: rgb(113, 110, 255);">Matplotlib is used to create static, interactive, and animated plots. It's very useful for data visualization.</p>
        <h5 style="color: rgb(188, 105, 233);">Requests:</h5>
        <p style="color: rgb(120, 119, 220);">Requests is a simple and elegant library for making HTTP requests. It allows you to send HTTP/1.1 requests easily, and handle responses in a user-friendly way.</p>
    </body>

{% endblock %}