{% extends 'base.html' %}
{% block title %}
    Documentation
{% endblock %}

{% block Malumot %}
    <body style="background-image: url(https://avatars.mds.yandex.net/i?id=be98f6356564ba570caeb1e6434a9f5a4d2b3c14-4012100-images-thumbs&n=13); background-size: cover;">
        <h1>PYTHON FRAMEWORKS</h1>
        <h2>Web Framework</h2>
        <p>Web framework refers to all the overhead processes involved while creating a new web application. It lays a standardized procedure for developing and deploying these applications on the internet.</p>
        <p>This may include libraries, template processors and session managers. Python frameworks can either be full-stack or non-full-stack depending on the size of your project.</p>
        <p>The majority of Web frameworks are exclusively server-side technology, although, with the increased prevalence of AJAX, some Web frameworks are beginning to include AJAX code that helps developers with the particularly tricky task of programming (client-side) the user's browser. At the extreme end of the client-side Web Frameworks is technology that can use the web browser as a full-blown application execution environment.</p>
        <h2>What makes python a popular option?</h2>
        <td>
            <li>Fast, powerful and productive</li>
            <li>Less coding, more functions</li>
            <li>Extensible and integrable</li>
            <li>User friendly, runs everywhere</li>
            <li>Readable, flexible and secure</li>
            <li>Works on website as well as mobile device</li>
        </td>
    </body>

{% endblock %}