{% extends 'base.html' %}
{% block title %}

{% endblock %}

{% block Malumot %}
    <body style="background-image: url(https://avatars.mds.yandex.net/i?id=036130d9e3bb8d468be832deefcb6ae150e61003-4146491-images-thumbs&n=13); background-size: cover;">
        <h1 style="color: rgb(0, 123, 21);">Python History</h1>
        <p style="font-weight: bold; color: rgb(0, 0, 0);">Creation of Python (Late 1980s to Early 1990s)</p>
        <td>
            <li>Python was created by Guido van Rossum, a Dutch programmer, in the late 1980s.</li>
            <li>The development of Python began in December 1989 when Guido started working on a hobby project during his Christmas holidays. He named it Python, inspired by the British comedy series "Monty Python's Flying Circus."</li>
            <li>Python's design philosophy emphasizes code readability and simplicity, with a focus on clear and expressive syntax.</li>
        </td>
        <p style="font-weight: bold;">Python 2.x Series (2000s)</p>
        <td>
            <li>The Python 2.x series, starting with Python 2.0 released in 2000, introduced significant improvements and new features to the language</td>
            <li>Python 2.2 (2001) introduced garbage collection, Unicode support, and a cycle-detecting garbage collector.</li>
            <li>Python 2.6 (2008) and Python 2.7 (2010) brought enhancements such as improved I/O libraries, a "with" statement for better resource management, and better performance.</li>
        </td>
    </body>

{% endblock %} 