{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}

{% block Malumot %}
    <body style="background-image: url(https://avatars.mds.yandex.net/i?id=81f20d0863bf8f95969dee461b08cd6897b10c4f-5231719-images-thumbs&n=13); background-size: cover;">
        <h1 style="color: rgb(241, 231, 28);">Python</h1>
        <img src="https://avatars.mds.yandex.net/i?id=00577d12d9dab2a28a5ebadc6f478de809e6256b-10636894-images-thumbs&n=13" alt="" style="border-radius: 20px;">
    </body>
{% endblock %} 